@import 'variables.css';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  scroll-behavior: smooth;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: 'Roboto Mono', sans-serif !important;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
}

@media not handheld {
  ::-webkit-scrollbar {
    background-color: var(--gray-light);
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 5px;
  }
}
