.window {
  margin: 0 20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .header {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    > *:first-child {
      margin-right: auto;
    }
    > *:nth-child(2) {
      margin: 0 auto;
    }
    > *:last-child {
      margin: 0 0 0 auto;
    }
  }
}

.header {
  margin: 20px 0;

  > * {
    margin: 10px auto 10px 0;
  }

  h1 {
    margin: 0;
  }

  :last-child {
    display: flex;
    gap: 10px;
  }
}

.user {
  width: 90%;
  padding: 10px;
  border-radius: var(--radius);
  list-style: none;
  transition: 0.5s;
  margin: 0;
}

.eventNameInput {
  border: 0;
  outline: none;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: #bdc3c7;
  }

  &:focus {
    border-color: rgba(52, 152, 219, 0.6);
  }
}

.headerControls {
  > button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.participantsModalContent {
  margin: 10px 0;
}
