.week-slider {
  font-family: 'Inter';
  font-weight: 500;
  height: 1.5rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.date-div {
  border: 1px solid var(--gray-light);
  border-left: none;
  border-right: none;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.date-span {
  padding: 0 0.75rem;

  box-sizing: border-box;
}

.slider {
  border: none;
  height: 100%;
  background: none;
  border-style: solid;
  border-color: var(--gray-light);
  border-width: 1px;
  padding: 0 0.5rem;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  align-items: center;
  &.slider--left {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  &.slider--right {
    border-radius: 0 var(--radius) var(--radius) 0;
  }
}
