.week-slider {
  font-weight: 500;
  height: 2rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.date-div {
  width: 220px;
  border-top: 2px solid rgba(123, 123, 123, 0.18);
  border-bottom: 2px solid rgba(123, 123, 123, 0.18);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.date-span {
  padding: 0 0.75rem;

  box-sizing: border-box;
}

.slider {
  border: 2px solid rgba(123, 123, 123, 0.18);
  height: 100%;
  background: none;
  padding: 0 0.5rem;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  align-items: center;
  &.--left {
    border-radius: var(--radius) 0 0 var(--radius);
    cursor: pointer;
  }

  &.--right {
    cursor: pointer;
    border-radius: 0 var(--radius) var(--radius) 0;
  }
  &.--highlight {
    background-color: var(--primary);
  }
}
