.column {
  width: max(100% / 7 - 150px, 150px);
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.cell {
  height: 30px;
  position: relative;
  z-index: 2;
  border-right: var(--border);
}
.cell:nth-child(2n) {
  border-bottom: var(--border);
}

.inset0 {
  position: absolute;
  inset: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1px;
}
