@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
}

* {
  user-select: none;
}

@media not handheld {
  ::-webkit-scrollbar {
    background-color: var(--gray-light);
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 5px;
  }
}
