.window {
  margin: 0 10px;
}
@media (min-width: 1000px) {
  .header {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    > *:first-child {
      margin-right: auto;
    }
    > *:nth-child(2) {
      margin: 0 auto;
    }
    > *:last-child {
      margin: 0 0 0 auto;
    }
  }
}
.header {
  > * {
    margin: 10px auto 10px 0;
  }
  h1 {
    margin: 0;
  }

  :last-child {
    display: flex;
    gap: 10px;
  }
}
